
.row{
    width: 100%;
}
.row1{
    background-color: rgb(237, 241, 237);
    height: 80px;
    width: 85px;
    position: relative;
}
.row2{
    background-color: rgb(121, 126, 121);
    height: 80px;
    width: 85px;
    position: relative;
}
.center{
    text-align: center;
    transform: translateY(20px);
}